html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.btn:active {
    box-shadow: 2px 1px 2px rgb(46, 46, 46);
    transform: scale(0.95);
}

#to-do-project-container {
    background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
}

header {
    display: flex;
    align-items: center;
    width: 100%;
}

#header-title {
    font-size: 5rem;
    font-family: 'M PLUS 1p';
    font-weight: bold;
    margin: 2rem;
}

#header-btns {
    font-family: 'M PLUS 1p';
    margin-left: auto;
    margin-right: 2rem;
}

.project-btn {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 3rem;
    margin: 0 .5rem 1rem .5rem;
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgb(46, 46, 46);
}

#modal::backdrop {
    background: gray;
    opacity: .5;
}

input[type="radio"] {
    position: relative;
    left: 2.2rem;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.priority-color-btn,
.priority-color-project {
    display: inline-block;
    margin: 0 1.5rem 0 -5px;
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.yellow-color {
    background-color: yellow;
}

.orange-color {
    background-color: orange;
}

.red-color {
    background-color: red;
}