input[type="radio"] {
    position: relative;
    left: 2.2rem;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.priority-color-btn,
.priority-color-project {
    display: inline-block;
    margin: 0 1.5rem 0 -5px;
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.yellow-color {
    background-color: yellow;
}

.orange-color {
    background-color: orange;
}

.red-color {
    background-color: red;
}