html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'M PLUS 1p';
}

.btn:active {
    box-shadow: 2px 1px 2px rgb(46, 46, 46);
    transform: scale(0.95);
}

/* Header --------------------------------------------------------------------------------------- */
header {
    background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
    display: flex;
    align-items: center;
    width: 100%;
}

#header-title {
    font-size: 5rem;
    font-weight: bold;
    margin: 2rem;
}

img {
    width: 5rem;
}

#header-btns {
    font-family: 'M PLUS 1p';
    margin-left: auto;
    margin-right: 2rem;
}

.project-btn {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 3rem;
    margin: 0 .5rem 1rem .5rem;
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgb(46, 46, 46);
}

/* Project Container --------------------------------------------------------------------------- */
#project-container {
    margin: 2rem;
}

/* Project ---------------------------------------------------------------------------------------- */

/* Modal -------------------------------------------------------------------------------------- */
#modal::backdrop {
    background: gray;
    opacity: .5;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: .5rem;
}

input[type="text"],
textarea,
input[type="date"] {
    padding: .5rem;
}

input::placeholder, textarea::placeholder {
    font-family: 'M PLUS 1p';
    font-size: 1rem;
}

input[type="radio"] {
    position: relative;
    left: 2.2rem;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.due-date-title, .priority-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1.5rem;
}

#due-date-container, #priority-container {
    display: flex;
    align-items: center;
}

.priority-color-btn,
.priority-color-project {
    margin: 0 1.5rem 0 -5px;
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.yellow-color {
    background-color: yellow;
}

.orange-color {
    background-color: orange;
}

.red-color {
    background-color: red;
}

#modal-btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.modal-btn{
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
}
